:root{
    --primary: #252C39;
    --lila: #785EE2;
}
body{
    background: #414E5E;
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 51px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}
.bg-custom{
    background:var(--primary) ;
}
nav img{
    width: 20px;
    position: relative;
    bottom: 2px;
}
.w-2{
    width: 30px;
    border-radius:100px;
}
.w-3{
    width:272px;
    display: block;
    margin: 0 auto;
}
.w-5{
    width: 27px;

}
.white-font{
    color:white;
}
.inhalt{
    max-width: 900px;
    margin:10px auto;
    background: var(--primary);
    border-left: 30px solid var(--primary);
    border-right: 30px solid var(--primary);
}
.vertical-center{
    vertical-align: middle;
}
.main-description{
    color: #666E76;
    font-size: 14px;
    display:block;
    margin: 10px auto;
}
button{
    border:0;
    border-radius: 25px;
    padding: 10px 15px;
}
.hightlight{
    background: var(--lila);
}
.row-edit{
    margin-top:0px;
    margin-bottom:20px;
}
.linkedin-button:hover,
.contact-button{
    background-color: var(--primary);
    color:white;
    border: 1px solid;
}
.contact-button:hover,
.linkedin-button{
    background-color: var(--lila);
    color: white;
    border: 1px var(--lila) solid;
}
.contact-button:hover,
.linkedin-button:hover{
    transition: all 150ms ease-in-out;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 5px 15px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 5px;;
}
.active{
    color:var(--lila) !important;
}
.description{
    color: #666E76;
    font-size: 13px;
}
.row-edit{
    margin: 0;
}
.background-light{
 background: var(--lila);
}
.color-dark{
    color: black;
}
.max-width-600{
    max-width: 600px;
}
.centered{
    display: flex;
    justify-content: center;
}
@media (min-width: 576px ) {
    .img-me{
        position: relative;
        top:80px;
    }
}
@media(min-width:768px){
    .img-me{
        position: static;
    }

}
@media(max-width:600px){
    .inhalt{
        margin-top:0px;
    }
}
@media(max-width: 374px){
    
    .not-important{
        display: none;
    }
    .bigger-margin-media{
        margin-top: 10px;
    }
}
@media(min-height:688px){
    .inhalt{
        border-left:0px solid var(--primary);
        border-right: 0px solid var(--primary);
    }   
}

@media (max-width: 782px) {
    
    .buttons{
        display: flex;
        justify-content: center !important;
    }
    .w-5, .w-2{
        position:relative;
        top:15px;
    }
    h2{
        font-size: 40px;
    }
    h1{
        font-size: 50px;
    }
    .dn{
        display:none;
        
    }
    
}