:root{
    --primary: #252C39;
}
body{
    background: #414E5E;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
.bg-custom{
    background:var(--primary) ;
    border-left: 30px solid var(--primary);
}
.w-1{
    width: 20px;
    position: relative;
    bottom: 2px;
}
.w-2{
    width: 30px;
    border-radius:100px;
}
.w-3{
    width:200px;
    display: block;
    margin: 0 auto;
}
.w-5{
    width: 27px;

}
.white-font{
    color:white;
}
.inhalt{
    max-width: 900px;
    margin:10px auto;
    background: var(--primary);
}
.vertical-center{
    vertical-align: middle;
}
.main-description{
    color: #666E76;
    font-size: 14px;
}
button{
    border:0;
    border-radius: 25px;
    padding: 10px 15px;
    
}
.contact-button{
    background-color: var(--primary);
    color:white;
    border: 1px solid;
}
.linkedin-button{
    background-color: #785EE2;
    color: white;
    border: 2px #785EE2 solid;
}
.description{
    color: #666E76;
    font-size: 14px;
    max-width: 200px;
}